{% extends 'base.html' %}
{% load static %}
{% block content %}
			  
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Me				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Me</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<img class="img-fluid" src="img/about-img.png" alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h6>About Me</h6>
							<h1 class="text-uppercase">Personal Details</h1>
							<p>
								A 20-year-old web developer studying at Nepal College of Information Technology.
								Currently, in my 4th semester, I am deeply passionate about creating engaging web experiences.
								I combine my design skills with coding expertise to craft functional and visually appealing websites.
								Constantly exploring the latest technologies,
								I am dedicated to delivering innovative solutions that make a lasting impact."
							</p>
<!--							<a href="#" class="primary-btn text-uppercase">View Full Details</a>-->
						</div>
						<div class="col-lg-12 pt-60">
							<h4 class="pt-30">Expertness</h4>
						</div>
					</div>
					<div class="row skillbar-wraps">					
						<div class="col-lg-6 skill-left">
							<div class="single-skill">
								<p>
									Python 85%
								</p>
								<div class="skill" data-width="85"></div>
							</div>
							<div class="single-skill">
								<p>
									Object Oriented Programming 80%
								</p>
								<div class="skill" data-width="80"></div>
							</div>
							<div class="single-skill">
								<p>
									Django 70%
								</p>
								<div class="skill" data-width="70"></div>
							</div>																				
						</div>
						<div class="col-lg-6 skill-right">
							<div class="single-skill">
								<p>
									DSA 80%
								</p>
								<div class="skill" data-width="80"></div>
							</div>								
							<div class="single-skill">
								<p>
									Database 85%
								</p>
								<div class="skill" data-width="85"></div>
							</div>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->	

			<!-- Start timeline Area -->
			<section class="timeline pb-120">
            <div class="text-center">
                <div class="menu-content pb-70">
                    <div class="title text-center">
                        <h1 class="mb-10">My Qualifications</h1>
                    </div>
                </div>
            </div>

			  <ul>
			    <li>
			      <div class="content">
			        <h4>
			          <time>Bachelor in Computer Engineering</time>
			        </h4>
			        <p><b>Session:</b> 2022 to Present</p>
			      </div>
			    </li>
			    <li>
			      <div class="content">
			      	<img class="img-fluid mx-auto d-block mb-30" src="img/about/c-logo.png" alt="">
			        <h4>
			          <time>Python Course</time>
			        </h4>
			        <p>2023 to july,2023</p>
					<p><b>Institute</b>:Broadway Infosys</p>
			      </div>
			    </li>
			    <li>
			      <div class="content">
			        <h4>
			          <time>Backend(Django) Course</time>
			        </h4>
			        <p> 2023 to july,2023</p>
			        <p><b>Institute:</b> Broadway Infosys</p>
			      </div>
			    </li>

			  </ul>
			</section>		

			<!-- End timeline Area -->


			<!-- Start testimonial Area -->
		    <section class="testimonial-area section-gap">
		        <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Client’s Feedback About Me</h1>
		                        <p>It is very easy to start smoking but it is an uphill task to quit it. Ask any chain smoker or even a person.</p>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="active-testimonial">
		                    <div class="single-testimonial item d-flex flex-row">
		                        <div class="thumb">
		                            <img class="img-fluid" src="img/elements/user1.png" alt="">
		                        </div>
		                        <div class="desc">
		                            <p>
		                                Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.		     
		                            </p>
		                            <h4>Harriet Maxwell</h4>
		                            <p>CEO at Google</p>
		                        </div>
		                    </div>
		                    <div class="single-testimonial item d-flex flex-row">
		                        <div class="thumb">
		                            <img class="img-fluid" src="img/elements/user2.png" alt="">
		                        </div>
		                        <div class="desc">
		                            <p>
		                                A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
		                            </p>
		                            <h4>Carolyn Craig</h4>
		                            <p>CEO at Facebook</p>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End testimonial Area -->			

		    <!-- Start brands Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src="img/l1.png" alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src="img/l2.png" alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src="img/l3.png" alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src="img/l4.png" alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src="img/l5.png" alt=""></a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End brands Area -->	

{% endblock %}